
  <div class="employee-greet">
    <p>Hi <strong>{{name}}</strong> you have <strong>{{numberOfCertification}}</strong> certificates.</p>
  </div>
  <div class="view-table"> 
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" style="text-align:center">#</th>
        <th scope="col" style="text-align:center">Certificate</th>
        <th scope="col" style="text-align:center">Technology</th>
        <th scope="col" style="text-align:center">Provider</th>
        <th scope="col" style="text-align:center">Certification Date</th>
        
        <th scope="col" style="text-align:center">Valid till</th>
        <th scope="col" style="text-align:center">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let certificate of certificates; index as i">
        <th scope="row">{{ i + 1 }}</th>

        <td>{{ certificate.certificateName }}</td>
        <td>{{ certificate.techName }}</td>
        <td>{{ certificate.provider }}</td>
        <td>{{ certificate.certificationDate }}</td>
        
        <td>{{ certificate.validTo }}</td>
        <td>
          <input type="button" value="Edit" style='margin-right:16px'>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  

